@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hidden {
    display: none !important;
}
.conteudo, .agradecimento {
    background-color: hsl(213, 19%, 18%);
    width: 90%;
    padding: 30px;
    border-radius: 15px;
    margin: 100px auto;
    text-align: center;
}

.conteudo img {
    background-color: hsl(213deg,20%,22%);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.conteudo h1, .agradecimento h1 {
    color: hsl(0, 100%, 100%);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.descricao {
    width: 100%;
    font-size: 0.875rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    line-height: 1.5;
}

.form .avaliation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form .avaliation input[type="radio"] {
    display: none;
}

.form .avaliation label {
    background-color: rgba(139, 145, 165, 0.2);
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form .avaliation label:hover, .form button:hover {
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
}
.form .avaliation input[type="radio"]:checked + label {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.form button {
    width: 100%;
    padding: 15px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agradecimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agradecimento img {
    margin-bottom: 30px;
}
.nota-selecionada {
    background-color: hsl(213deg,20%,22%);
    color: hsl(25, 97%, 53%);
    padding: 8px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .conteudo, .agradecimento {
        width: 400px;
    }
}